<%= form_for(@interested) do |f| %>
  <% if @interested.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interested.errors.count, "error") %> prohibited this interested from being saved:</h2>

      <ul>
      <% @interested.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
