<div class='page-wrap'>
<%= image_tag '/images/logo.png', :class=>'logo'%>

<p>
Rokkefåret er et unikt håndlavet produkt lavet af de bedste
materialer og hådplukkede skind fra Danmark, Norge og Island.
Jeg laver dem i mit lille værksted i Ry og nyder hver gang
et nyt får er færdigt.

</p>
<p> 
Hvis du vil vide mere om rokkefåret og hvordan du får fat i det
så skriv din email addresse for neden og jeg vil kontakte dig snarreset.
</>

    

<%= form_for(@interested, :defaults => { :input_html => { :class => "getemail" } }) do |f| %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>


<% if @interested.errors.any? %>
        <div id="errorExplanation">
          <h2>Beklager der er <%= pluralize(@interested.errors.count, "fejl") %>:</h2>
          <ul>
            <% @interested.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
<% end %>
	
    <div class="noshadow">
      <%= f.label "Skriv din email her:" %><br />
      <%= f.text_field :email_address, :id=>'email_field' %>
    </div>
    <div class="actions noshadow">
      <%= f.submit "kontakt mig"%>
    </div>
<% end %>
</div>


<!-- <div id="menu">
	<h1>blah something more</h1>
	<div>&nbsp;	</div>
</div> -->